/*
Colors used:
Background Color (beige):#e8e9e4;
Primary Color (Green): #324a42;
Secondary Color (Light Green):#96b095;
Text Color (Black): #000000;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #e8e9e4;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
}

h1, h2, h3 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

img {
  width: 100%;
}

a{
  color: #324a42;
  text-decoration: none;
}

a:visited{
  color: #324a42;
}

a:hover {
  color: #96b095;
  text-decoration: none;
}

a:hover,
a:focus {
color: #324a42;
text-decoration: none;
}

a:active {
  color: #000000;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #324a42;
  color: #eeeeee;
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #96b095;
  text-decoration: none;
  transition: 0.2s opacity;
}

.button:visited {
  background-color:#324a42;
  color: #eeeeee;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
  background-color: #96b095;
  color: #000000;
  opacity: 0.8;
}

.button:active {
  background-color: #324142;
  color: #eeeeee;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #324a42;
  border: 2px solid #96b095;
  text-decoration: none;
}

.button.contact:hover {
  background-color: transparent;
  color: #324a42;
  border: 2px solid #96b095;
  text-decoration: none;
}

.button.contact:active {
  background-color: transparent;
  color: #324a42;
  border: 2px solid #96b095;
  text-decoration: none;
}

.button.resume {
background-color: transparent;
color: #324a42;
border: 2px solid #96b095;
text-decoration: none;
}

.button.resume:hover {
background-color: transparent;
color: #324a42;
border: 2px solid #96b095;
text-decoration: none;
}

.button.resume:active {
background-color: transparent;
color: #324a42;
border: 2px solid #96b095;
text-decoration: none;
}

header {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px; 
  
}


  /* Layout styling */
  .container {
    padding: 0 15px;
  }

  .navigation :hover {
  background-color: transparent;
  color: #000000;
  }

  .row {
    margin: 25px 0; 
  }
  
  #hero h1 {
    text-align: center; 
  }



  #work h2 {
    text-align: center; 
  }

  #contact {
    text-align: center; 
  }


  #hero h1 {
    text-align: center; 
  }

  #project h1 {
    text-align: center; 
  }

  #intro h1 {
    text-align: center;
    padding-top: 25px;
  }

  #about a {
    text-align: left;
  }
  #about h2 {
    text-align: left;
  }
  .logo {
    box-sizing: border-box;
  }

  header {
    background-color: #ffffff;
    margin: 0;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 21px 0px rgba(42,58,69,1);
    -moz-box-shadow: 0px 5px 21px 0px rgba(42,58,69,1);
    box-shadow: 0px 5px 21px 0px rgba(42,58,69,1);
    
}

  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:block;
  }

 

  nav > ul > li > a {
    padding: 0 15px;
    font-weight: 700;
    color: #2a3a45;
    display:block;
  }

  nav > ul > li > a:visited {
    padding: 0 15px;
    font-weight: 700;
    color: #000000;
  }

  nav > ul > li > a:hover {
    padding: 0 15px;
    font-weight: 700;
    color: transparent;
  } 

  nav > ul > li > a:active {
    padding: 0 15px;
    font-weight: 700;
    color: #2a3a45;
  }

  .navtoggle li:not(:last-child) {
    display:inside;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 40px;
  }  

  .navtoggle.responsive nav {
    padding: 0px 0;
  }
  
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    background-color: #ffffff;
    text-align: right;
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }
    
 
  #hero {
    background-color: #ffffff;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  main {
    padding-top: 99px;
  }

  header {
    height: 110px;
  }

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float:right;
    margin-top: -90px;
  } 

  .col-md-6 {
    width: 50%;
  }

 [class*="col-"] {
  float: left;
  padding: 10px;
 }

 .row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

nav > ul > li {
  display: inline-block;
}

nav > ul {
  margin: 1em 0;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

.logo {
  box-sizing: border-box;
  position: relative;
  bottom: 10px;
}
.col-md-6 {
  width: 50%;
}


}
  
   /* ==============================
Large devices (1200px and larger)
================================= */
@media only screen and (min-width: 1200px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float:right;
    margin-top: -90px;
  } 

.row::after {
  content: "";
  clear: both;
  display: table;
}
}



/*aminated button*/

.button.contact {
  animation: wiggle 2s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
