
body {
    background-color: #e8e9e4;
    font-family: 'Lato', sans-serif;
    font-size: 16px; 
    font-weight: 300;
    line-height: 1.6; 
    color: #000000;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  img {
    width: 100%;
  }
  a {
    color: #324a42;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #324a42;
    text-decoration: underline;
  }
  a:visited { 
    color: #96b095;
  }
  a:active {
    color: #324a42;
  }
  .button {
    display: inline-block; 
    background-color: #96b095;
    color: #000000; 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #324a42;
    transition: 0.2s opacity;
  }
  .button:hover {
    opacity: 0.8; 
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #324a42;
    text-transform: uppercase;
    border: 2px solid #324142;
  }
  .button.contact:hover {
    background-color: #96b095;
    color: #000000;
  }
 
  a {/* element selector */
    color: red;
  }
  
  #my-link {/* id selector */
    color: green;  
  }
  
  .my-link {/* class selector */
    color: blue;  
  }
  header {
    background-color: #96b095;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
  }